
    <div class="flexbox">
        <div class="flexbox-element"></div>
        <div class="flexbox-element"></div>
        <div class="flexbox-element"></div>
    </div>
    <style>
    .flexbox {
        display: flex;
        direction: row;
        height:10%;
        align-items: center;
    }

    .flexbox-element {
        flex: 1 1 auto;
        width: 30px; height: 30px;
        transition: width 0.5s ease-out;
    }
    .flexbox-element:hover {
        width: 1000px;
    }
    .flexbox-element:nth-child(1) { background: red; }
    .flexbox-element:nth-child(2) { background: green; }
    .flexbox-element:nth-child(3) { background: blue; }
    </style>
    <div class="grid">
        <div class="grid-element"></div>
        <div class="grid-element"></div>
        <div class="grid-element"></div>
    </div>

    <style>
    .grid {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(4,1fr);
        grid-auto-rows: minmax(100px, auto);
    }
    .grid-element {
        grid-column: 1;
        grid-row: 1;
    }
    .grid-element:nth-child(1) { background: red; grid-column: 1; grid-row: 3; }
    .grid-element:nth-child(2) { background: green; grid-column: 2 / 4; }
    .grid-element:nth-child(3) { background: blue; grid-column: 4; grid-row: 1 / 4; }
    </style>
